FIREBASE_API_KEY="bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb"
FIREBASE_PROJECT_ID="rpharmaquiz"
FIREBASE_AUTH_DOMAIN="rpharmaquiz.firebaseapp.com"
FIREBASE_STORAGE_BUCKET="rpharmaquiz.appspot.com"
FIREBASE_APP_ID="cccccccccccccccccccccccccccccccc"
CONNECT_SERVER="https://myserver.com"
CONNECT_API_KEY="abcdefghijklmnopqrstuvwxyz"
PG_USER="username"
PG_PASSWORD="change_me"
PG_HOST="mydbhost.com"
PG_PORT=5432